<h>HI</h>

<p>You typed:<%=@login %></p>
<p>Your password: <%=@password %></p>
<p>Your access:<%=@access_denied_title%></p>

<form action ='/' method ='POST'>
  <input type = 'login' name ='plogin'/>
  <input type = 'password' name ='ppass'/>
  <input type = 'submit'/>
</form >