<h1>Registration</h1>

<p>You typed:<%=@login %></p>
<p>Your password: <%=@password %></p>

<form action="/admin" method="POST">
  Login:<br> <input type="text" name="login_reg"><br>
  Password:<br> <input type="password" name="password_reg"><br>

  <input type="submit">
</form>